.description,
.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.title{
    font-size: 66px;
    color: aliceblue;
}

.page{
    background-color: rgba(214, 127, 255, 0.622);
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
